# The Beginning - All about data

## Load Basic Libraries

In [4]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns',None)

In [10]:
import warnings
warnings.filterwarnings('ignore')

## Load the data

In [5]:
df = pd.read_csv('/kaggle/input/kagglex-bipoc-2022-2023-ml-foundation/Train.csv')

In [6]:
df.head()

,ID,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,ARACE,AREORGN,ASEX,AUNMEM,AUNTYPE,AWKSTAT,CAPGAIN,CAPLOSS,DIVVAL,FILESTAT,GRINREG,GRINST,HHDFMX,HHDREL,MIGMTR1,MIGMTR3,MIGMTR4,MIGSAME,MIGSUN,NOEMP,PARENT,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,YEAR,TARGET
0,shydl6zxik4o,22,Not in universe,0,0,High school graduate,0,Not in universe,Divorced,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Single,Not in universe,Not in universe,Secondary individual,Nonrelative of householder,NaN,NaN,NaN,Not in universe under 1 year old,NaN,1,Not in universe,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,36,1995,0
1,2dhm421r62rr,37,Private,35,33,Some college but no degree,0,Not in universe,Divorced,Finance insurance and real estate,Precision production craft & repair,White,All other,Male,Not in universe,Not in universe,Full-time schedules,0,0,0,Single,Not in universe,Not in universe,Nonfamily householder,Householder,NaN,NaN,NaN,Not in universe under 1 year old,NaN,1,Not in universe,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,47,1995,0
2,ys7nzza2hffj,83,Not in universe,0,0,1st 2nd 3rd or 4th grade,0,Not in universe,Widowed,Not in universe or children,Not in universe,White,Puerto Rican,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Nonfiler,Not in universe,Not in universe,Nonfamily householder,Householder,NaN,NaN,NaN,Not in universe under 1 year old,NaN,0,Not in universe,Puerto-Rico,Puerto-Rico,Puerto-Rico,Native- Born in Puerto Rico or U S Outlying,0,Not in universe,2,0,1995,0
3,iqrpxh3sr7n1,46,Private,32,35,High school graduate,0,Not in universe,Married-civilian spouse present,Wholesale trade,Precision production craft & repair,White,All other,Male,Not in universe,Not in universe,Full-time schedules,0,0,1800,Joint both under 65,Not in universe,Not in universe,Householder,Householder,NaN,NaN,NaN,Not in universe under 1 year old,NaN,1,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,1995,0
4,rr8vlzk9iwyn,35,Private,34,26,Associates degree-academic program,0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Adm support including clerical,White,All other,Female,Not in universe,Not in universe,Full-time schedules,0,0,0,Joint both under 65,Not in universe,Not in universe,Spouse of householder,Spouse of householder,NaN,NaN,NaN,Not in universe under 1 year old,NaN,6,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,45,1995,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157509 entries, 0 to 157508
Data columns (total 42 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ID        157509 non-null  object
 1   AAGE      157509 non-null  int64
 2   ACLSWKR   157509 non-null  object
 3   ADTIND    157509 non-null  int64
 4   ADTOCC    157509 non-null  int64
 5   AHGA      157509 non-null  object
 6   AHRSPAY   157509 non-null  int64
 7   AHSCOL    157509 non-null  object
 8   AMARITL   157509 non-null  object
 9   AMJIND    157509 non-null  object
 10  AMJOCC    157509 non-null  object
 11  ARACE     157509 non-null  object
 12  AREORGN   157509 non-null  object
 13  ASEX      157509 non-null  object
 14  AUNMEM    157509 non-null  object
 15  AUNTYPE   157509 non-null  object
 16  AWKSTAT   157509 non-null  object
 17  CAPGAIN   157509 non-null  int64
 18  CAPLOSS   157509 non-null  int64
 19  DIVVAL    157509 non-null  int64
 20  FILESTAT  157509 non-null  object
 21  GRINREG   157509 non-null  object
 22  GRINST    156809 non-null  object
 23  HHDFMX    157509 non-null  object
 24  HHDREL    157509 non-null  object
 25  MIGMTR1   80189 non-null   object
 26  MIGMTR3   80189 non-null   object
 27  MIGMTR4   80189 non-null   object
 28  MIGSAME   157509 non-null  object
 29  MIGSUN    80189 non-null   object
 30  NOEMP     157509 non-null  int64
 31  PARENT    157509 non-null  object
 32  PEFNTVTY  150906 non-null  object
 33  PEMNTVTY  151501 non-null  object
 34  PENATVTY  154013 non-null  object
 35  PRCITSHP  157509 non-null  object
 36  SEOTR     157509 non-null  int64
 37  VETQVA    157509 non-null  object
 38  VETYN     157509 non-null  int64
 39  WKSWORK   157509 non-null  int64
 40  YEAR      157509 non-null  int64
 41  TARGET    157509 non-null  int64
dtypes: int64(13), object(29)
memory usage: 50.5+ MB

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
AAGE,157509.0,39.816112,19.404058,0.0,26.0,38.0,52.0,90.0
ADTIND,157509.0,20.308440,18.183850,0.0,0.0,24.0,37.0,51.0
ADTOCC,157509.0,14.971830,14.890825,0.0,0.0,12.0,29.0,46.0
AHRSPAY,157509.0,72.889797,311.546534,0.0,0.0,0.0,0.0,9916.0
CAPGAIN,157509.0,577.585992,5403.024319,0.0,0.0,0.0,0.0,99999.0
CAPLOSS,157509.0,49.300015,311.199032,0.0,0.0,0.0,0.0,4608.0
DIVVAL,157509.0,264.806386,2282.967898,0.0,0.0,0.0,0.0,99999.0
NOEMP,157509.0,2.580913,2.400063,0.0,0.0,2.0,5.0,6.0
SEOTR,157509.0,0.234825,0.629650,0.0,0.0,0.0,0.0,2.0
VETYN,157509.0,1.834517,0.538978,0.0,2.0,2.0,2.0,2.0
WKSWORK,157509.0,30.600182,23.635018,0.0,0.0,48.0,52.0,52.0
YEAR,157509.0,1994.490893,0.499919,1994.0,1994.0,1994.0,1995.0,1995.0
TARGET,157509.0,0.082408,0.274986,0.0,0.0,0.0,0.0,1.0

In [11]:
df.nunique()

ID          157509
AAGE            91
ACLSWKR          9
ADTIND          52
ADTOCC          47
AHGA            17
AHRSPAY       1275
AHSCOL           3
AMARITL          7
AMJIND          24
AMJOCC          15
ARACE            5
AREORGN         10
ASEX             2
AUNMEM           3
AUNTYPE          6
AWKSTAT          8
CAPGAIN        132
CAPLOSS        112
DIVVAL        1509
FILESTAT         6
GRINREG          6
GRINST          50
HHDFMX          38
HHDREL           8
MIGMTR1          9
MIGMTR3          8
MIGMTR4          9
MIGSAME          3
MIGSUN           3
NOEMP            7
PARENT           5
PEFNTVTY        42
PEMNTVTY        42
PENATVTY        42
PRCITSHP         5
SEOTR            3
VETQVA           3
VETYN            3
WKSWORK         53
YEAR             2
TARGET           2
dtype: int64

In [13]:
df.TARGET.unique()

array([0, 1])

## Value Count Function

## Filling ? values

## Feature Engineering

## Exploratory Data Analysis

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

## Subsetting the original dataframe for modelling

# The Middle - All about models

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=40)

## Model Building

## Feature Scaling

# The End - All about submission

Inference :
* Piciking the best model for inference which is RandomForest

In [ ]:
XTest = test_df.drop(columns=['ID'])

In [ ]:
ytest_pred = trained_models['random_forest']['model'].predict(XTest)

In [ ]:
output = sample_sub.copy()
output['TARGET'] = ytest_pred
output.head()

In [ ]:
output['TARGET'].value_counts()/len(output)

In [ ]:
output.to_csv('./solution.csv', index=False)