# Importing libraries and reading data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
# import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('max_columns',200)

In [2]:
df = pd.read_csv('/kaggle/input/kagglex-bipoc-2022-2023-ml-foundation/Train.csv')

# Data Understanding

1. make the column names understandable by renaming them and updating the dataframe
2. learn which columns to keep and remove
3. convert object types to categorical or whatever dtype suitable for it

In [3]:
df.shape

(157509, 42)

In [4]:
df.dtypes

ID          object
AAGE         int64
ACLSWKR     object
ADTIND       int64
ADTOCC       int64
AHGA        object
AHRSPAY      int64
AHSCOL      object
AMARITL     object
AMJIND      object
AMJOCC      object
ARACE       object
AREORGN     object
ASEX        object
AUNMEM      object
AUNTYPE     object
AWKSTAT     object
CAPGAIN      int64
CAPLOSS      int64
DIVVAL       int64
FILESTAT    object
GRINREG     object
GRINST      object
HHDFMX      object
HHDREL      object
MIGMTR1     object
MIGMTR3     object
MIGMTR4     object
MIGSAME     object
MIGSUN      object
NOEMP        int64
PARENT      object
PEFNTVTY    object
PEMNTVTY    object
PENATVTY    object
PRCITSHP    object
SEOTR        int64
VETQVA      object
VETYN        int64
WKSWORK      int64
YEAR         int64
TARGET       int64
dtype: object

In [5]:
df.describe()

,AAGE,ADTIND,ADTOCC,AHRSPAY,CAPGAIN,CAPLOSS,DIVVAL,NOEMP,SEOTR,VETYN,WKSWORK,YEAR,TARGET
count,157509.000000,157509.00000,157509.000000,157509.000000,157509.000000,157509.000000,157509.000000,157509.000000,157509.000000,157509.000000,157509.000000,157509.000000,157509.000000
mean,39.816112,20.30844,14.971830,72.889797,577.585992,49.300015,264.806386,2.580913,0.234825,1.834517,30.600182,1994.490893,0.082408
std,19.404058,18.18385,14.890825,311.546534,5403.024319,311.199032,2282.967898,2.400063,0.629650,0.538978,23.635018,0.499919,0.274986
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1994.000000,0.000000
25%,26.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1994.000000,0.000000
50%,38.000000,24.00000,12.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,2.000000,48.000000,1994.000000,0.000000
75%,52.000000,37.00000,29.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,2.000000,52.000000,1995.000000,0.000000
max,90.000000,51.00000,46.000000,9916.000000,99999.000000,4608.000000,99999.000000,6.000000,2.000000,2.000000,52.000000,1995.000000,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157509 entries, 0 to 157508
Data columns (total 42 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ID        157509 non-null  object
 1   AAGE      157509 non-null  int64
 2   ACLSWKR   157509 non-null  object
 3   ADTIND    157509 non-null  int64
 4   ADTOCC    157509 non-null  int64
 5   AHGA      157509 non-null  object
 6   AHRSPAY   157509 non-null  int64
 7   AHSCOL    157509 non-null  object
 8   AMARITL   157509 non-null  object
 9   AMJIND    157509 non-null  object
 10  AMJOCC    157509 non-null  object
 11  ARACE     157509 non-null  object
 12  AREORGN   157509 non-null  object
 13  ASEX      157509 non-null  object
 14  AUNMEM    157509 non-null  object
 15  AUNTYPE   157509 non-null  object
 16  AWKSTAT   157509 non-null  object
 17  CAPGAIN   157509 non-null  int64
 18  CAPLOSS   157509 non-null  int64
 19  DIVVAL    157509 non-null  int64
 20  FILESTAT  157509 non-null  object
 21  GRINREG   157509 non-null  object
 22  GRINST    156809 non-null  object
 23  HHDFMX    157509 non-null  object
 24  HHDREL    157509 non-null  object
 25  MIGMTR1   80189 non-null   object
 26  MIGMTR3   80189 non-null   object
 27  MIGMTR4   80189 non-null   object
 28  MIGSAME   157509 non-null  object
 29  MIGSUN    80189 non-null   object
 30  NOEMP     157509 non-null  int64
 31  PARENT    157509 non-null  object
 32  PEFNTVTY  150906 non-null  object
 33  PEMNTVTY  151501 non-null  object
 34  PENATVTY  154013 non-null  object
 35  PRCITSHP  157509 non-null  object
 36  SEOTR     157509 non-null  int64
 37  VETQVA    157509 non-null  object
 38  VETYN     157509 non-null  int64
 39  WKSWORK   157509 non-null  int64
 40  YEAR      157509 non-null  int64
 41  TARGET    157509 non-null  int64
dtypes: int64(13), object(29)
memory usage: 50.5+ MB

In [7]:
df.tail()

,ID,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,ARACE,AREORGN,ASEX,AUNMEM,AUNTYPE,AWKSTAT,CAPGAIN,CAPLOSS,DIVVAL,FILESTAT,GRINREG,GRINST,HHDFMX,HHDREL,MIGMTR1,MIGMTR3,MIGMTR4,MIGSAME,MIGSUN,NOEMP,PARENT,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,YEAR,TARGET
157504,s2x72hkgxp3e,40,Private,15,22,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Adm support including clerical,White,All other,Male,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Joint both under 65,Not in universe,Not in universe,Householder,Householder,Nonmover,Nonmover,Nonmover,Yes,Not in universe,6,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,1994,0
157505,njk6q5wz1hyu,1,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,White,Mexican (Mexicano),Male,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Nonfiler,South,Utah,Child <18 never marr not in subfamily,Child under 18 never married,MSA to MSA,Same county,Same county,No,Yes,0,Both parents present,England,Mexico,United-States,Native- Born in the United States,0,Not in universe,0,0,1994,0
157506,79jvvt013ev3,31,Private,37,2,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,White,All other,Female,Not in universe,Not in universe,Children or Armed Forces,0,0,75,Joint both under 65,Northeast,North Carolina,Spouse of householder,Spouse of householder,MSA to MSA,Same county,Same county,No,No,6,Not in universe,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,1994,0
157507,dgdsqlab2jo1,33,Not in universe,0,0,High school graduate,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Joint both under 65,Not in universe,Not in universe,Spouse of householder,Spouse of householder,NaN,NaN,NaN,Not in universe under 1 year old,NaN,0,Not in universe,NaN,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,1995,0
157508,pkkohttzecr0,52,Self-employed-incorporated,33,19,Some college but no degree,0,Not in universe,Married-civilian spouse present,Retail trade,Sales,White,All other,Male,Not in universe,Not in universe,Children or Armed Forces,15024,0,15000,Joint both under 65,Not in universe,Not in universe,Householder,Householder,Nonmover,Nonmover,Nonmover,Yes,Not in universe,2,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,No,1,52,1994,1

In [8]:
df.head()

,ID,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,ARACE,AREORGN,ASEX,AUNMEM,AUNTYPE,AWKSTAT,CAPGAIN,CAPLOSS,DIVVAL,FILESTAT,GRINREG,GRINST,HHDFMX,HHDREL,MIGMTR1,MIGMTR3,MIGMTR4,MIGSAME,MIGSUN,NOEMP,PARENT,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,YEAR,TARGET
0,shydl6zxik4o,22,Not in universe,0,0,High school graduate,0,Not in universe,Divorced,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Single,Not in universe,Not in universe,Secondary individual,Nonrelative of householder,NaN,NaN,NaN,Not in universe under 1 year old,NaN,1,Not in universe,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,36,1995,0
1,2dhm421r62rr,37,Private,35,33,Some college but no degree,0,Not in universe,Divorced,Finance insurance and real estate,Precision production craft & repair,White,All other,Male,Not in universe,Not in universe,Full-time schedules,0,0,0,Single,Not in universe,Not in universe,Nonfamily householder,Householder,NaN,NaN,NaN,Not in universe under 1 year old,NaN,1,Not in universe,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,47,1995,0
2,ys7nzza2hffj,83,Not in universe,0,0,1st 2nd 3rd or 4th grade,0,Not in universe,Widowed,Not in universe or children,Not in universe,White,Puerto Rican,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Nonfiler,Not in universe,Not in universe,Nonfamily householder,Householder,NaN,NaN,NaN,Not in universe under 1 year old,NaN,0,Not in universe,Puerto-Rico,Puerto-Rico,Puerto-Rico,Native- Born in Puerto Rico or U S Outlying,0,Not in universe,2,0,1995,0
3,iqrpxh3sr7n1,46,Private,32,35,High school graduate,0,Not in universe,Married-civilian spouse present,Wholesale trade,Precision production craft & repair,White,All other,Male,Not in universe,Not in universe,Full-time schedules,0,0,1800,Joint both under 65,Not in universe,Not in universe,Householder,Householder,NaN,NaN,NaN,Not in universe under 1 year old,NaN,1,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,1995,0
4,rr8vlzk9iwyn,35,Private,34,26,Associates degree-academic program,0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,Adm support including clerical,White,All other,Female,Not in universe,Not in universe,Full-time schedules,0,0,0,Joint both under 65,Not in universe,Not in universe,Spouse of householder,Spouse of householder,NaN,NaN,NaN,Not in universe under 1 year old,NaN,6,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,45,1995,0

In [9]:
df.columns

Index(['ID', 'AAGE', 'ACLSWKR', 'ADTIND', 'ADTOCC', 'AHGA', 'AHRSPAY',
       'AHSCOL', 'AMARITL', 'AMJIND', 'AMJOCC', 'ARACE', 'AREORGN', 'ASEX',
       'AUNMEM', 'AUNTYPE', 'AWKSTAT', 'CAPGAIN', 'CAPLOSS', 'DIVVAL',
       'FILESTAT', 'GRINREG', 'GRINST', 'HHDFMX', 'HHDREL', 'MIGMTR1',
       'MIGMTR3', 'MIGMTR4', 'MIGSAME', 'MIGSUN', 'NOEMP', 'PARENT',
       'PEFNTVTY', 'PEMNTVTY', 'PENATVTY', 'PRCITSHP', 'SEOTR', 'VETQVA',
       'VETYN', 'WKSWORK', 'YEAR', 'TARGET'],
      dtype='object')

In [10]:
df.AAGE.value_counts().index
df.AAGE.value_counts().values

array([3503, 3435, 3412, 3366, 3306, 3274, 3272, 3271, 3200, 3181, 3178,
       3132, 3091, 3082, 3014, 2900, 2881, 2864, 2863, 2856, 2855, 2838,
       2816, 2785, 2778, 2657, 2475, 2474, 2422, 2347, 2346, 2330, 2226,
       2223, 2164, 2061, 2051, 1876, 1779, 1745, 1714, 1588, 1564, 1548,
       1521, 1467, 1431, 1409, 1394, 1369, 1330, 1319, 1279, 1227, 1169,
       1155, 1130, 1106, 1095,  966,  922,  893,  888,  882,  874,  870,
        861,  810,  798,  793,  788,  787,  779,  773,  759,  733,  714,
        712,  649,  634,  625,  607,  576,  494,  460,  418,  346,  296,
        260,  214,  184])

In [11]:
df.AAGE.value_counts().values

array([3503, 3435, 3412, 3366, 3306, 3274, 3272, 3271, 3200, 3181, 3178,
       3132, 3091, 3082, 3014, 2900, 2881, 2864, 2863, 2856, 2855, 2838,
       2816, 2785, 2778, 2657, 2475, 2474, 2422, 2347, 2346, 2330, 2226,
       2223, 2164, 2061, 2051, 1876, 1779, 1745, 1714, 1588, 1564, 1548,
       1521, 1467, 1431, 1409, 1394, 1369, 1330, 1319, 1279, 1227, 1169,
       1155, 1130, 1106, 1095,  966,  922,  893,  888,  882,  874,  870,
        861,  810,  798,  793,  788,  787,  779,  773,  759,  733,  714,
        712,  649,  634,  625,  607,  576,  494,  460,  418,  346,  296,
        260,  214,  184])

# Subsetting colums to prepare for training